[init]
	defaultBranch = main
[user]
	name = oussama-roog
	email = oussamaroog@gmail.com
[safe]
	directory = /mnt/data/Notes
	directory = /mnt/data/Projects/codecrafters-http-server-c
	directory = /mnt/data/Projects/simple-http-server
	directory = /mnt/data/Projects/whathiq/wathiq-app
	directory = /mnt/data/Projects/go-tuto/femProject
	directory = /mnt/data/Projects/zaki/dotfiles
	directory = /mnt/data/Projects/zaki/dotfiles-zaki
