* {
  border: none;
  border-radius: 18px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

window#waybar {
  background: transparent;
  border-radius: 20px;
  margin-top: 6px;
}

/* Workspaces styling */
#workspaces {
  margin: 10px;
  padding: 0px 5px 0px 5px;
  border-radius: 16px;
  border: solid 0px #f4d9e1;
  font-weight: bold;
}

#workspaces button {
  padding: 0px 5px;
  border-radius: 16px;
  color: #f4d9e1;
}

#workspaces button.active {
  color: #000000;
  background-color: #f4d9e1;
  border-radius: 16px;
}

#workspaces button:hover {
  color: black;
  border-radius: 16px;
}

/* Grouped widgets with shared styling */
#clock,
#language,
#network,
#memory,
#cpu,
#pulseaudio,
#battery,
#custom-spotify,
#custom-power,
#tray {
  margin: 6px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #2e3440;
  background: #d8dee9;
  border-radius: 10px;
}
