@import url("colors.css");

* {
  border: none;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  min-height: 0px;
  background-color: transparent;
  color: transparent;
}

window#waybar {
  background: transparent;
  border-radius: 20px;
  /* margin-top: 6px; */
}

#workspaces button {
  all: unset;
  min-width: 20px;
  min-height: 5px;
  padding: 0px;
  margin: 0px 5px;
  color: transparent;
  background-color: @base02;
  border-radius: 10px;
  transition: all 0.2s ease;
}

#workspaces button.active {
  min-width: 50px;
  background-color: @base0A;
  box-shadow: 0px 0px 2px @base01;
}

#workspaces button:hover {
  background-color: @base0B;
}

/* Grouped widgets with shared styling */
#workspaces,
#clock,
#language,
#bluetooth,
#network,
#memory,
#cpu,
#pulseaudio,
#battery,
#custom-songname,
#tray {
  margin: 0 5px;
  padding: 5px 20px;
  font-weight: bold;
  color: @base05;
  background: @base00;
  border-radius: 10px;
}
