@define-color theme_fg_color #c1c1c1;
@define-color theme_bg_color #000000;
@define-color theme_base_color #000000;
@define-color theme_selected_bg_color #888888;
@define-color theme_selected_fg_color #000000;
@define-color insensitive_bg_color #121212;
@define-color insensitive_fg_color #333333;
@define-color insensitive_base_color #121212;
@define-color theme_unfocused_fg_color #999999;
@define-color theme_unfocused_bg_color #121212;
@define-color theme_unfocused_base_color #121212;
@define-color theme_unfocused_selected_bg_color #888888;
@define-color theme_unfocused_selected_fg_color #000000;
@define-color borders #333333;
@define-color unfocused_borders #222222;

* {
    background-color: #000000;
    color: #c1c1c1;
}

window {
    background-color: #000000;
}

.background {
    background-color: #000000;
    color: #c1c1c1;
}
